@media (max-width: 1399.98px) {
  #unitsGallery {
    width: 55%;
  }
}
@media (max-width: 1199px) {
  .descriptions{
    background-image: none;
    background-color: #F7F7F7;
    &_right{
      padding-top: 51px;
      padding-bottom: 41px;
      padding-left: 0;
      padding-right: 0;
      &::before{
        position: relative;
      }
    }
    &_banner{
      background-image: none;
    }
    &_table{
      flex-direction: column;
      text-align: center;
      .uline{
        display: none;
      }
    }
    .button{
      text-align: center;
      margin-top: 28px;
    }
    &_logos{
      justify-content: center;
      column-gap: 32px;
      margin-top: 37px;
      .text {
        font-size: 10px;
      }
      img{
        max-width: 91px;
      }
    }
  }
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 40%;
        }
        &:nth-child(2){
          top: 21%;
        }
        &:nth-child(3){
          top: 9%;
        }
        &:last-child{
          bottom: 47%;
          right: 3.8%;
        }
      }
    }
    .sports{
      span{
        &:first-child{
          top: 20%;
        }
        &:nth-child(2){
          top: 12%;
        }
        &:nth-child(3){
          top: 9%;
          right: 40%;
        }
        &:nth-child(4){
          bottom: 42%;
          right: 41%;
        }
        &:last-child{
          bottom: 19%;
          right: 6%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 20%;
        }
        &:nth-child(2){
          bottom: 25.3%;
        }
        &:nth-child(3){
          top: 24%;
        }
        &:last-child{
          top: 24.5%;
        }
      }
    }
    .publics{
      span{
        &:first-child{
          bottom: 32%;
        }
        &:last-child{
          bottom: 35%;
        }
      }
    }
  }
  #unitsGallery {
    width: 100%;
  }
  .advance {
    margin-top: 14px;
  }
}
@media (max-width: 991.98px) {
  #banner{
    background-image: linear-gradient(90deg, #00000096 0%, #00000042 0%, #00000000 100%),url(../../assets/images/header/header-m.jpg);
  }
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 30%;
        }
        &:nth-child(2){
          top: 25.5%;
        }
        &:nth-child(3){
          top: 13%;
        }
        &:last-child{
          bottom: 35%;
          right: 3.8%;
        }
      }
    }
    .sports{
      span{
        &:first-child{
          top: 29%;
        }
        &:nth-child(2){
          top: 16%;
        }
        &:nth-child(3){
          top: 12%;
          right: 41%;
        }
        &:nth-child(4){
          bottom: 29%;
          right: 43%;
        }
        &:last-child{
          bottom: 1%;
          right: 8%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 1%;
        }
        &:nth-child(2){
          bottom: 8.3%;
        }
        &:nth-child(3){
          top: 32%;
        }
        &:last-child{
          top: 31.5%;
        }
      }
    }
    .publics{
      span{
        &:first-child{
          bottom: 17%;
        }
        &:last-child{
          bottom: 19%;
        }
      }
    }
  }
  .units-design{
    text-align: left;
    padding-top: 47px;
    padding-bottom: 39px;
    &_master {
      p{
        transform: rotate(0deg);
      }
      flex-direction: column;
      align-items: flex-start;
    }
    &_footer {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 21px;
      margin-top: 55px;
      margin-bottom: 0;
      &_text{
        align-items: center;
      }
    }
  }
  .units{
    padding-bottom: 0;
    padding-top: 39px;
    #nameLevel {
      margin-top: 25px;
    }
  }
  .modal{
    .modal-content{
      padding: 20px;
      border-radius: 30px;
      .btn-close{
        top: 30px;
        right: 30px;
      }
      .modal-body{
        .swiper-slide{
          grid-template-columns: auto;
          row-gap: 20px;
          .col-left{
            p.h5{
              font-size: 1.25rem;
              margin-bottom: 7px;
              span.h4{
                font-size: 1rem;
              }
            }
            p.line{
              font-size: 0.875rem;
              padding: 5px 0;
              margin-bottom: 0;
            }
          }
          .col-right{
            column-gap: 5px;
            justify-content: center;
            .compass {
              margin-top: 0;
            }
            .img-right {
              max-width: 200px;
            }
          }
        }
      }
      .swiper-button-white{
        &::after{
          font-size: 20px;
        }
      }
      .swiper-button-prev{
        left: 10px;
      }
      .swiper-button-next {
        right: 10px;
      }
    }
  }
  .landscape{
    padding:0;
    .land_row.row {
      flex-direction: column-reverse;
    }
    &_banner{
      background-image: url(../../assets/images/landscape/fondom.png);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 100px;
      padding-bottom: 0;
      margin-top: 370px;
      &::after{
        display: none;
      }
      .col-left {
        padding-bottom: 80px;
        padding-top: 45px;
      }
    }
    &_img{
      width: 100%;
      height: 450px;
      justify-content: flex-start;
      align-items: flex-start;
      top: -56%;
      img {
        z-index: -1;
      }
      .boton-time {
        padding-bottom: 0;
        padding-top: 20px;
        padding-left: 20px;
      }

    }
  }
  #unitsGallery {
    padding-bottom: 50px;
  }
  .amenities{
    margin-top: 0;
    &_banner{
      background-image: url(../../assets/images/amenities/fondom.png);
      padding-top: 150px;
      transform: translateY(160px);
      z-index: -1;
      &_img{
        position: relative;
        z-index: 2;
        margin-left: auto;
        margin-right: 15px;
        width: 70%;
        img{
          transform: none;
        }
      }
    }
    &_icons{
      grid-template-columns: 1fr 1fr;
      &_frame{
        img {
          margin-bottom: 11px;
          margin-top: 25px;
        }
      }
    }
  }
  .amenities-footer{
    padding-top: 0;
    margin-top: 90px;
    &_right{
      position: relative;
      width: 100%;
      text-align: center;
      .imgA{
        position: relative;
        top: -26px;
        z-index: -2;
        max-width: 396px
      }
      .imgB{
        top: auto;
        bottom: 40px;
        max-width: 185px;
      }
    }
  }
  .advance{
    margin-top: 48px;
    &_line img{
      width: 90%;
    }
    &_icons-text{
      width: 100%;
      .inic{
        width: 28%;
      }
      .finish{
        width: 28%;
      }
    }
  }
  #gallery{
    #lightgallery {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 10px;
    }
  }
  .contact{
    form#contactForm {
      width: 100%;
    }
    &_form2{
      margin-top: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  #unitsGallery{
    padding: 10px 0 0 0;
    .container .col-12 {
      padding: 0;
    }
    .gallery-thumbs {
      display: none;
    }
    .gallery-top{
      .swiper-button-white{
        &::after{
          font-size: 20px;
        }
      }
    }
  }
  .advance{
    &_line img{
      width: 85%;
    }
    &_icons-text{
      .inic{
        width: 38%;
      }
      .finish{
        width: 38%;
      }
    }
  }
  .project{
    &_footer {
      flex-direction: column;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 575.98px){
  .amenities{
    margin-top: 30px;
    &_banner{
      transform: translateY(150px);
    }
  }
  .amenities-footer{
    &_right{
      .imgA{
        top: -40px;
      }
    }
  }
  .landscape{
    &_banner{
      margin-top: 340px;
      padding-top: 50px;
    }
    &_img{
      height: 350px;
      top: -51%;
    }
  }
  .advance{
    &_line img{
      width: 80%;
    }
    &_icons-text{
      .inic{
        width: 50%;
      }
      .finish{
        width: 50%;
      }
    }
  }
}

@media (max-width: 425px){
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 25%;
        }
        &:nth-child(2){
          top: 27.5%;
          right: 21.5%;
        }
        &:nth-child(3){
          top: 16%;
          right: 12%;
        }
        &:last-child{
          bottom: 28%;
          right: 2.8%;
        }
      }
    }
    .sports{
      span{
        &:first-child{
          top: 32%;
          left: 2%;
        }
        &:nth-child(2){
          top: 19%;
          left: 33%;
        }
        &:nth-child(3){
          top: 16%;
          right: 38%;
        }
        &:nth-child(4){
          bottom: 22%;
          right: 40%;
        }
        &:last-child{
          bottom: -5%;
          right: 5%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: -6%;
          left: 28%;
        }
        &:nth-child(2){
          bottom: 1.3%;
          left: 33%;
        }
        &:nth-child(3){
          top: 34%;
          right: 41%;
        }
        &:last-child{
          top: 33.5%;
          right: 33.8%;
        }
      }
    }
    .publics{
      span{
        &:first-child{
          bottom: 7%;
          left: 2%;
        }
        &:last-child{
          bottom: 16%;
          right: 43%;
        }
      }
    }
  }
  .amenities{
    &_banner{
      padding-top: 120px;
      transform: translateY(100px);
    }
  }
  .amenities-footer{
    margin-top: 45px;
  }
  .advance{
    &_line img{
      width: 75%;
    }
    &_icons-text{
      .inic{
        width: 65%;
      }
      .finish{
        width: 65%;
      }
    }
  }

}
@media (max-width: 375px){
  .units{
    &_download{
      .down{
        margin-right: 0px;
      }
      .zoom{
        transform: translateY(0);
        margin-left: 2px;
        width: 22px;
      }
    }
  }
  .amenities{
    &_banner{
      transform: translateY(80px);
    }
  }
  .amenities-footer {
    margin-top: 20px;
  }
  .landscape{
    &_banner{
      margin-top: 320px;
    }
    &_img{
      top: -45%;
    }
  }

}
