@media (min-width: 1400px) {
  .descriptions{
    &_banner{
      height: 90vh;
    }
  }
}
@media (max-width: 1399.98px) {
  #unitsGallery {
    width: 55%;
  }
}
@media (max-width: 1199px) {
  .descriptions{
    background-image: none;
    background-color: #F7F7F7;
    &_right{
      padding: 0;
    }
    &_banner{
      background-image: none;
    }
    &_table{
      flex-direction: column;
      text-align: center;
      .uline{
        display: none;
      }
    }
    .button{
      text-align: center;
      margin-top: 28px;
    }
    &_logos{
      justify-content: center;
      column-gap: 32px;
      margin-top: 37px;
      .text {
        font-size: 10px;
      }
      img{
        max-width: 91px;
      }
    }
  }
  #unitsGallery {
    width: 100%;
  }
  .advance {
    margin-top: 14px;
  }
}
@media (max-width: 991.98px) {
  #banner{
    background-image: linear-gradient(90deg, #00000096 0%, #00000042 10%, #00000000 100%),url(../../assets/images/header/header-m.jpg);
  }
  .units-design{
    text-align: left;
    &_master {
      p{
        transform: rotate(0deg);
      }
      flex-direction: column;
      align-items: flex-start;
    }
    &_footer {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 21px;
      margin-top: 55px;
      &_text{
        align-items: center;
      }
    }
  }
  .units{
    padding-bottom: 0;
    #nameLevel {
      margin-top: 25px;
    }
    &_download{
      .down{
        margin-right: 0px;
      }
      .zoom{
        transform: translateY(0);
        margin-left: 2px;
        width: 22px;
      }
    }
  }
  .modal{
    .modal-content{
      padding: 20px 40px;
      border-radius: 30px;
      .btn-close{
        top: 30px;
        right: 30px;
      }
      .modal-body{
        grid-template-columns: auto;
        row-gap: 20px;
        .col-left{
          p.line{
            font-size: 0.875rem;
            padding: 5px 0;
            margin-bottom: 0;
          }
        }
        .col-right{
          column-gap: 20px;
          justify-content: center;
          .compass {
            margin-top: 0;
          }
        }
      }
    }
  }
  .landscape{
    padding:0;
    &_banner{
      background-image: url(../../assets/images/landscape/fondom.png);
      width: 100%;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 120px;
      padding-bottom: 30px;
      &::after{
        display: none;
      }
    }
    &_img{
      position: relative;
      width: 100%;
      height: 350px;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 30px;
      padding-top: 40px;
      transform: translateY(85px);
    }
  }
  #unitsGallery {
    padding-bottom: 50px;
  }
  .amenities{
    margin-top: 0;
    &_banner{
      background-image: url(../../assets/images/amenities/fondom.png);
      padding-top: 150px;
      transform: translateY(160px);
      z-index: -1;
      &_img{
        position: relative;
        z-index: 2;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        img{
          transform: translateY(20px);
        }
      }
    }
    &_icons{
      grid-template-columns: 1fr 1fr;
      &_frame{
        img {
          margin-bottom: 11px;
          margin-top: 25px;
        }
      }
    }
  }
  .amenities-footer{
    padding-top: 0;
    margin-top: 100px;
    &_right{
      position: relative;
      width: 100%;
      text-align: center;
      .imgA{
        position: relative;
        top: -26px;
        z-index: -2;
        max-width: 396px
      }
      .imgB{
        top: auto;
        bottom: 40px;
        max-width: 185px;
      }
    }
  }
  .advance{
    margin-top: 48px;
    &_line img{
      width: 70%;
    }
    &_icons-text{
      .inic{
        width: 46%;
      }
      .finish{
        width: 40%;
      }
    }
  }
  #gallery{
    #lightgallery {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 10px;
    }
  }
  .contact{
    &_form2{
      margin-top: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  #unitsGallery{
    padding: 0;
    .container .col-12 {
      padding: 0;
    }
    .gallery-thumbs {
      display: none;
    }
    .gallery-top{
      .swiper-button-white{
        &::after{
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 575.98px){
  .advance{
    &_line{
      img{
        width: 65%;
      }
    }
    &_icons-text{
      .inic{
        width: 60%;
      }
      .finish{
        width: 50%;
      }
    }
  }
  .amenities-footer {
    margin-top: 55px;
  }
  .amenities{
    &_banner{
      padding-top: 110px;
      transform: translateY(115px);
    }
  }
}

@media (max-width: 425px){
  .advance{
    &_line img{
      width: 55%;
    }
    &_icons-text{
      .inic{
        width: 85%;
      }
      .finish{
        width: 70%;
      }
    }
  }
  .amenities{
    &_banner{
      padding-top: 85px;
      transform: translateY(85px);
    }
  }
  .amenities-footer {
    margin-top: 25px;
  }
}
