@media(min-width: 1400px){
  .landscape_img .img-time {
    height: 99.8%;
  }
  .amenities-footer{
    &_right {
      bottom: -41px;
    }
  }
  .advance {
    margin-top: 41px;
  }
}
@media(min-width: 1440px){
  .descriptions{
    img.imgleft {
      max-width: 535px;
    }
    &_logos{
      column-gap: 100px;
    }
  }
  .amenities_banner_img img {
    max-width: 500px;
  }

}

@media (min-width: 1600px){
  .descriptions{
    img.imgleft {
      left: -65px;
    }
    &_logos{
      column-gap: 120px;
    }
  }
}
@media (max-width: 1399.98px) {
  .unitsGallery {
    width: 55%;
  }
}
@media (max-width: 1199px) {
  .descriptions{
    background-image: none;
    background-color: #F7F7F7;
    padding: 0;
    &_right{
      padding-top: 51px;
      padding-bottom: 41px;
      padding-left: calc(var(--bs-gutter-x) * .5);
      padding-right: calc(var(--bs-gutter-x) * .5);
      &::before{
        position: relative;
      }
    }
    &_text{
      padding: 0;
    }
    &_banner{
      background-image: none;
    }
    &_table{
      flex-direction: column;
      text-align: center;
      .uline{
        display: none;
      }
    }
    .button{
      text-align: center;
      margin-top: 28px;
    }
    &_logos{
      justify-content: center;
      column-gap: 32px;
      margin-top: 37px;
      .text {
        font-size: 10px;
      }
      img{
        max-width: 91px;
      }
    }
  }
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 40%;
        }
        &:nth-child(2){
          top: 21%;
        }
        &:nth-child(3){
          top: 9%;
        }
        &:last-child{
          bottom: 47%;
          right: 3.8%;
        }
      }
    }
    .sports{
      span{
        &:first-child{
          top: 20%;
        }
        &:nth-child(2){
          top: 12%;
        }
        &:nth-child(3){
          top: 9%;
          right: 40%;
        }
        &:nth-child(4){
          bottom: 42%;
          right: 41%;
        }
        &:last-child{
          bottom: 19%;
          right: 6%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 20%;
        }
        &:nth-child(2){
          bottom: 25.3%;
        }
        &:nth-child(3){
          top: 24%;
        }
        &:last-child{
          top: 24.5%;
        }
      }
    }
    .publics{
      span{
        &:first-child{
          bottom: 32%;
        }
        &:last-child{
          bottom: 35%;
        }
      }
    }
  }
  .modal {
    .modal-content {
      .modal-body{
        .swiper-slide{
          .col-right{
            column-gap: 8px;
          }
        }
      }
    }
  }
  .unitsGallery {
    width: 100%;
  }
  .amenities-footer {
    margin-top: -42px;
  }
  .amenities-footer{
    &_right {
      bottom: 0px;
      .imgA{
        max-width: 550px;
      }
    }
  }
  .advance {
    margin-top: 0px;
  }
}
@media (max-width: 991.98px) {
  .banner{
    background-image: url(../../assets/images/header/header-m.jpg);
  }
  .locations{
    padding-bottom:25px;
    &_right{
      span{
        &::after{
          width: 15px;
          height: 15px;
        }
      }
    }
    .educations{
      span{
        &:first-child{
          bottom: 31.5%;
        }
        &:nth-child(2){
          top: 24.5%;
        }
        &:nth-child(3){
          top: 12%;
        }
        &:last-child{
          bottom: 35%;
          right: 3.8%;
        }
      }
    }
    .sports{
      span{
        &:first-child{
          top: 29%;
        }
        &:nth-child(2){
          top: 16%;
        }
        &:nth-child(3){
          top: 12%;
          right: 41%;
        }
        &:nth-child(4){
          bottom: 29%;
          right: 43%;
        }
        &:last-child{
          bottom: 0%;
          right: 8%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 2%;
        }
        &:nth-child(2){
          bottom: 8.3%;
        }
        &:nth-child(3){
          top: 31%;
        }
        &:last-child{
          top: 30.5%;
        }
      }
    }
    .publics{
      span{
        &:first-child{
          bottom: 17%;
        }
        &:last-child{
          bottom: 19%;
        }
      }
    }
  }
  .units-design{
    text-align: left;
    padding-top: 47px;
    padding-bottom: 39px;
    &_master {
      div.title {
        width: min-content;
      }
      p{
        transform: rotate(0deg);
        height: auto;
      }
      flex-direction: column;
      align-items: flex-start;
    }
    &_footer {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 21px;
      margin-top: 55px;
      margin-bottom: 0;
      &_text{
        align-items: center;
        h5{
          text-align: center;
        }
        &::before{
          content: none;
        }
      }
    }
  }
  .units{
    padding-bottom: 0;
    padding-top: 39px;
    #nameLevel {
      margin-top: 25px;
    }
    .edfLevelUrl{
      .edfImgLevel{
        max-width: 100%;
        width: auto;
        height: 350px;
      }
    }
  }
  .modal{
    .modal-content{
      padding: 20px;
      border-radius: 30px;
      .btn-close{
        top: 30px;
        right: 30px;
      }
      .modal-body{
        .swiper-slide{
          grid-template-columns: auto;
          row-gap: 20px;
          .col-left{
            p.h5{
              font-size: 1.25rem;
              margin-bottom: 7px;
              span.h4{
                font-size: 1rem;
              }
            }
            p.line{
              font-size: 0.875rem;
              padding: 5px 0;
              margin-bottom: 0;
            }
          }
          .col-right{
            column-gap: 5px;
            justify-content: center;
            .compass {
              margin-top: 0;
            }
            .img-right {
              max-width: 200px;
            }
          }
        }
      }
      .swiper-button-white{
        &::after{
          font-size: 20px;
        }
      }
      .swiper-button-prev{
        left: 10px;
      }
      .swiper-button-next {
        right: 10px;
      }
    }
  }
  .landscape{
    padding:0;
    .land_row.row {
      flex-direction: column-reverse;
    }
    &_img{
      .boton-time{
        p{
          display: none;
        }
        .bsol{
          padding-right: 10px;
        }
        .bluna{
          padding-left: 10px;
        }
        button{
          padding: 6px 15px;
          .img-boton {
            max-width: 16px;
            }
        }
      }
    }
    &_banner{
      padding-top: 100px;
      padding-bottom: 0;
      margin-top: 460px;
      &::after{
        display: none;
      }
      .col-left {
        padding-bottom: 45px;
        padding-top: 10px;
        position: relative;
        background: linear-gradient(to bottom, rgba(231,214,224,0) 0%, rgba(231,214,224,0) 52%, rgba(231,214,224,1) 58%, rgba(231,214,224,1) 100%);
        &::before{
          content: "";
          position: absolute;
          left: 0;
          top: -130px;
          width: 100%;
          background-image: url(../../assets/images/landscape/fondom.png);
          background-position: top;
          background-size: cover;
          z-index: -1;
          height: 100%;
        }
      }
    }
    &_img{
      width: 100%;
      height: 450px;
      justify-content: flex-start;
      align-items: flex-start;
      top: -70%;
      img {
        z-index: -1;
      }
      .boton-time {
        padding-bottom: 0;
        padding-top: 20px;
        padding-left: 20px;
      }

    }
  }
  .unitsGallery {
    padding-bottom: 50px;
  }
  .amenities{
    margin-top: 0;
    z-index: 0;
    &_banner{
      background-image: url(../../assets/images/amenities/fondom.png);
      padding-top: 150px;
      transform: translateY(160px);
      z-index: -1;
      &_img{
        position: relative;
        z-index: 2;
        margin-left: auto;
        margin-right: 15px;
        width: 70%;
        img{
          transform: none;
        }
      }
    }
    &_icons{
      grid-template-columns: 1fr 1fr;
      margin-top: 8px;
      &_frame{
        img {
          margin-bottom: 11px;
          margin-top: 25px;
        }
      }
    }
  }
  .amenities-footer{
    padding-top: 0;
    margin-top: 90px;
    &_right{
      position: relative;
      width: 100%;
      text-align: right;
      .imgA{
        position: relative;
        top: -26px;
        z-index: -2;
        max-width: 500px;
      }
    }
    p.h3.mb-3 {
      margin-top: 27px;
    }
  }
  .advance{
    margin-top: 48px;
    padding-bottom: 16px;
    &_line img{
      width: 90%;
    }
    &_icons-text{
      width: 100%;
      .inic{
        width: 28%;
      }
      .finish{
        width: 28%;
      }
    }
  }
  .gallery{
    #lightgallery {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 10px;
    }
  }
  .project{
    .text.text-center {
      width: 100%;
    }
    &_logo{
      margin-bottom: 31px;
    }
  }
  .contact{
    padding-bottom: 30px;
    form#contactForm {
      width: 100%;
    }
    &_form2{
      margin-top: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 28%;
          right: 30.5%;
        }
      }
    }
  }
  .units{
    &_download {
      a, button{
        font-size: 0.8rem;
      }
    }
  }
  .unitsGallery{
    padding: 10px 0 0 0;
    .container .col-12 {
      padding: 0;
    }
    .gallery-thumbs {
      display: none;
    }
    .gallery-top{
      .swiper-button-white{
        &::after{
          font-size: 20px;
        }
      }
    }
  }
  .amenities-footer{
    p.h3.mb-3 {
      margin-top: 20px;
    }
  }
  .landscape{
    .col-left {
      &::before{
        top: -127px;
      }
    }
  }
  .advance{
    &_line img{
      width: 85%;
    }
    &_icons-text{
      .inic{
        width: 38%;
      }
      .finish{
        width: 38%;
      }
    }
  }
  .project{
    &_footer {
      flex-direction: column;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 575.98px){
  .locations{
    padding-bottom: 0;
    &_right {
      transform: scale(1);
      padding: 0;
    }
    .educations{
      span{
        &:first-child{
          bottom: 30%;
        }
      }
    }
  }
  .amenities{
    margin-top: 30px;
    &_banner{
      transform: translateY(150px);
    }
  }
  .amenities-footer{
    &_right {
      bottom: 6px;
      .imgA {
        max-width: 430px;
      }
    }
    p.h3.mb-3 {
      margin-top: 0px;
    }
  }
  .landscape{
    &_banner{
      margin-top: 0;
    }
    .col-left {
      padding-top: 45px;
      &::before{
        top: -55px;
      }
    }
    &_img{
      height: 350px;
      top: 0;
      position: relative;
    }
  }
  .unitsGallery {
    margin-top: 0;
    padding-top: 2px;
  }
  .advance{
    &_line img{
      width: 80%;
    }
    &_icons-text{
      .inic{
        width: 50%;
      }
      .finish{
        width: 50%;
      }
    }
  }
}

@media (max-width: 475px){
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 26%;
          right: 29.5%;
        }
      }
    }
  }
}

@media (max-width: 425px){
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 25%;
        }
        &:nth-child(2){
          top: 27.5%;
          right: 21.5%;
        }
        &:nth-child(3){
          top: 16%;
          right: 12%;
        }
        &:last-child{
          bottom: 28%;
          right: 2.8%;
        }
      }
    }
    .sports{
      span{
        &:first-child{
          top: 32%;
          left: 2%;
        }
        &:nth-child(2){
          top: 19%;
          left: 33%;
        }
        &:nth-child(3){
          top: 16%;
          right: 38%;
        }
        &:nth-child(4){
          bottom: 22%;
          right: 40%;
        }
        &:last-child{
          bottom: -5%;
          right: 5%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: -6%;
          left: 28%;
        }
        &:nth-child(2){
          bottom: 1.3%;
          left: 33%;
        }
        &:nth-child(3){
          top: 34%;
          right: 41%;
        }
        &:last-child{
          top: 33.5%;
          right: 33.8%;
        }
      }
    }
    .publics{
      span{
        &:first-child{
          bottom: 7%;
          left: 2%;
        }
        &:last-child{
          bottom: 16%;
          right: 43%;
        }
      }
    }
  }
  .amenities{
    &_banner{
      padding-top: 120px;
      transform: translateY(100px);
    }
  }
  .amenities-footer{
    margin-top: 40px;
    &_right {
      .imgA {
        max-width: 350px;
      }
    }
  }
  .advance{
    &_line img{
      width: 75%;
    }
    &_icons-text{
      .inic{
        width: 65%;
      }
      .finish{
        width: 65%;
      }
    }
  }
}
@media (max-width: 375px){
  .locations{
    .educations{
      span{
        &:first-child{
          bottom: 24%;
          right: 28.5%;
        }
      }
    }
  }
  .units{
    &_download{
      column-gap: 45px;
      .down{
        margin-right: 0px;
        margin-right: 0px;
        width: 13px;
      }
      &_b{
        align-items: center;
      }
      .zoom{
        transform: translateY(0);
        margin-left: 2px;
        width: 22px;
      }
    }
  }
  .amenities{
    &_banner{
      transform: translateY(80px);
    }
  }
  .amenities-footer {
    margin-top: 20px;
  }
}
