/*----------------------------banner-header-------------------------------*/
#banner{
  background-image: linear-gradient(90deg, #00000096 0%, #00000042 10%, #00000000 100%),url(../../assets/images/header/header-d.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh + 150px);
  padding-top: 150px;
  h1, p{
    color: $white;
  }
  h1{
    font-weight: 300;
    padding-bottom: 10px;
    span{
      font-weight: 600;
    }
  }
  .line{
    border-bottom: 2px solid $white;
    width: 20%;
    margin-bottom: 21px;
  }
}
/*----------------------------Description-------------------------------*/
.descriptions{
  background-image: url(../../assets/images/descriptions/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &_banner{
    background-image: url(../../assets/images/descriptions/fotob.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &_right{
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 40px;
    img.logo{
      max-width: 150px;
      width: 100%;
      margin-bottom: 18px;
    }
  }
  &_table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 18px;
    p{
      margin-bottom: 0;
    }
    .line{
      margin: 11px 0;
      border-bottom: 1px solid $lightgrey;
    }
  }
  .button{
    margin-top: 23px;
  }
  &_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
    margin-top: 24px;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
    }
    img{
      max-width: 110px;
      width: 100%;
      height: 40px;
      margin-top: 10px;
    }
  }
}
/*----------------------------Locations-------------------------------*/
.locations{
  img.leaf {
    position: absolute;
    width: 100%;
    max-width: 200px;
    top: 0;
    right: 0;
  }
  // p.h3{
  //   font-weight: 300;
  //   span.h2{
  //     font-weight: 700;
  //   }
  // }
    &_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    column-gap: 20px;
    cursor: pointer;
    user-select: none;
    img{
      max-width: 19px;
      width: 100%;
    }
    p{
      margin-bottom: 0;
    }
    &:hover{
      font-weight: 700;
    }
    &.selector{
      p{
        color:$black;
        font-weight: 700;
      }
    }
  }
  &_right{
    position: relative;
    .active{
      span:hover *{
        opacity: 1;
        transition: 0.3s ease;
      }
      span::after{
        opacity: 1 !important;
      }
    }
    span{
      b{
        padding: 4px 5px 1px 5px;
        line-height: 1.25;
        display: inline-block;
        position: relative;
        z-index: 10;
      }
      color: $white;
      text-align: left;
      font-weight: 600;
      font-size: 0.6rem;
      position: absolute;
      max-width: 85px;
      text-align: center;
      &::after {
        opacity: 0;
        position: absolute;
        content: "";
        width: 17px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 2;
        bottom: 35px;
        right: 24px;
      }
      &:hover::after{
        transform: translateY(-3px);
        transition: 0.3s ease;
      }
    }
  }
  .educations{
    span{
      &::after {
        background-image: url(../../assets/images/locations/escuelas.svg);
      }
      b{
        opacity: 0;
        background-color: #c90022;
      }
      &:first-child{
        bottom: 30%;
        right: 31.5%;
      }
      &:nth-child(2){
        top: 25.5%;
        right: 23.5%;
      }
      &:nth-child(3){
        top: 13%;
        right: 15%;
      }
      &:last-child{
        bottom: 33%;
        right: 9.8%;
      }
    }
  }
  .sports{
    span{
      &::after {
        background-image: url(../../assets/images/locations/deportes.svg);
      }
      b{
        opacity: 0;
        background-color: #4a090a;
      }
      &:first-child{
        &::after{
          right: 32px;
        }
        top: 29%;
        left: 5.5%;
      }
      &:nth-child(2){
        top: 16%;
        left: 37%;
      }
      &:nth-child(3){
        top: 12%;
        right: 41%;
      }
      &:nth-child(4){
        &::after{
          right: 10px;
        }
        bottom: 29%;
        right: 43%;
      }
      &:last-child{
        &::after{
          right: 14px;
        }
        bottom: 1%;
        right: 8%;
      }
    }
  }
  .shopping{
    span{
      &::after {
        background-image: url(../../assets/images/locations/shopping.svg);
      }
      b{
        opacity: 0;
        background-color: #8a5774;
      }
      &:first-child{
        &::after{
          right: 13px;
        }
        bottom: 1%;
        left: 30%;
      }
      &:nth-child(2){
        &::after{
          right: 22px;
        }
        bottom: 8.3%;
        left: 36%;
      }
      &:nth-child(3){
        &::after{
          bottom: 22px;
          right: 15px;
        }
        top: 32%;
        right: 43.8%;
      }
      &:last-child{
        &::after{
          right: 14px;
        }
        top: 31.5%;
        right: 35.8%;
      }
    }
  }
  .publics{
    span{
      &::after {
        background-image: url(../../assets/images/locations/parques.svg);
      }
      b{
        opacity: 0;
        background-color: #d2a8b9;
      }
      &:first-child{
        &::after{
          right: 15px;
        }
        bottom: 17%;
        left: 4%;
      }
      &:last-child{
        &::after{
          bottom: 22px;
          right: 10px;
        }
        bottom: 19%;
        right: 45%;
      }
    }
  }
}
/*----------------------------Units-Design-------------------------------*/
.units-design{
  background-color: $secondary;
  text-align: center;
  p.h2 {
    margin-bottom: 10px;
  }
  &_master {
    p{
      font-family: 'Kanit';
      color: $primary;
      font-weight: 300;
      transform: rotate(-90deg);
      margin-bottom: 0;
    }
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 25px;
    margin-top: 45px;
    margin-bottom: 30px;
    &_chart{
      display: flex;
      align-items: center;
      margin-top: 2px;
      canvas#myChart {
        width: 110px!important;
        height: auto!important;
        margin-right: -25px;
      }
      img.porcentage{
        width: 80px;
        padding-right: 20px;
      }
      .titleFoo {
        line-height: 0.8;
        font-style: normal!important;
        color: $primary;
        span{
          font-size: 0.75rem;
        }
      }
    }
    &_text{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h5{
        font-family: 'Roboto';
        font-style: italic;
        color: $text;
        font-weight: 400;
      }
      &::before{
        content: '';
        position: absolute;
        left: -4%;
        height: 60px;
        width: 1px;
        background: #cecece;
      }
    }
  }
}
/*----------------------------Units-----------------------------------*/
.units{
  #nameLevel{
    color: $primary;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-content: center;
    img{
      width: 22px;
      height: auto;
    }
  }
  &_download {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    .down {
      width: 15px;
      margin-right: 10px;
    }
    .zoom{
      width: 25px;
      margin-left: 20px;
      transform: translateY(-3px);
    }
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
    }
  }
}
