/*----------------------------banner-header-------------------------------*/
#banner{
  background-image: linear-gradient(90deg, #00000096 0%, #00000042 0%, #00000000 100%),url(../../assets/images/header/header-d.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 150px;
  h1, p{
    color: $white;
  }
  h1{
    font-weight: 300;
    padding-bottom: 10px;
    line-height: 1;
    span{
      font-weight: 600;
    }
  }
  .line{
    border-bottom: 2px solid $white;
    width: 20%;
    margin-bottom: 17px;
  }
}
/*----------------------------Description-------------------------------*/
.descriptions{
  padding: 11% 10% 6% 14%;
  background-image: url(../../assets/images/descriptions/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &_image{
    position: relative;
    z-index: 2;
  }
  &_right{
    position: relative;
    z-index: 1;
    padding: 31px 25px;
    &::before{
      content: "";
      position: absolute;
      height: 100%;
      background: #fff;
      z-index: 1;
      width: 155%;
      left: -50%;
      top: 0;
    }
    img.logo{
      max-width: 150px;
      width: 100%;
      margin-bottom: 18px;
    }
  }
  &_text{
    position: relative;
    z-index: 2;
  }
  &_table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 18px;
    p{
      margin-bottom: 0;
    }
    .line{
      margin: 11px 0;
      border-bottom: 1px solid $lightgrey;
    }
  }
  .button{
    margin-top: 23px;
  }
  &_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
    margin-top: 24px;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
    }
    img{
      max-width: 110px;
      width: 100%;
      height: 40px;
      margin-top: 10px;
    }
  }
}
/*----------------------------Locations-------------------------------*/
.locations{
  img.leaf {
    position: absolute;
    width: 100%;
    max-width: 200px;
    top: 0;
    right: 0;
  }
  p.h3{
    margin-bottom: 20px;
  }
    &_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    column-gap: 20px;
    cursor: pointer;
    user-select: none;
    img{
      max-width: 19px;
      width: 100%;
    }
    p{
      margin-bottom: 0;
    }
    &:hover{
      font-weight: 700;
    }
    &.selector{
      p{
        color:$black;
        font-weight: 700;
      }
    }
  }
  &_right{
    position: relative;
    .active{
      span:hover *{
        opacity: 1;
        transition: 0.3s ease;
      }
      span::after{
        opacity: 1 !important;
      }
    }
    span{
      b{
        padding: 4px 5px 1px 5px;
        line-height: 1.25;
        display: inline-block;
        position: relative;
        z-index: 10;
      }
      color: $white;
      text-align: left;
      font-weight: 600;
      font-size: 0.6rem;
      position: absolute;
      max-width: 85px;
      text-align: center;
      &::after {
        opacity: 0;
        position: absolute;
        content: "";
        width: 17px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 2;
        bottom: 35px;
        right: 24px;
      }
      &:hover::after{
        transform: translateY(-3px);
        transition: 0.3s ease;
      }
    }
  }
  .educations{
    span{
      &::after {
        background-image: url(../../assets/images/locations/escuelas.svg);
      }
      b{
        opacity: 0;
        background-color: #c90022;
      }
      &:first-child{
        bottom: 30%;
        right: 31.5%;
      }
      &:nth-child(2){
        top: 25.5%;
        right: 23.5%;
      }
      &:nth-child(3){
        top: 13%;
        right: 15%;
      }
      &:last-child{
        bottom: 35%;
        right: 3.8%;
      }
    }
  }
  .sports{
    span{
      &::after {
        background-image: url(../../assets/images/locations/deportes.svg);
      }
      b{
        opacity: 0;
        background-color: #4a090a;
      }
      &:first-child{
        &::after{
          right: 32px;
        }
        top: 29%;
        left: 5.5%;
      }
      &:nth-child(2){
        top: 16%;
        left: 37%;
      }
      &:nth-child(3){
        top: 12%;
        right: 41%;
      }
      &:nth-child(4){
        &::after{
          right: 10px;
        }
        bottom: 29%;
        right: 43%;
      }
      &:last-child{
        &::after{
          right: 14px;
        }
        bottom: 1%;
        right: 8%;
      }
    }
  }
  .shopping{
    span{
      &::after {
        background-image: url(../../assets/images/locations/shopping.svg);
      }
      b{
        opacity: 0;
        background-color: #8a5774;
      }
      &:first-child{
        &::after{
          right: 13px;
        }
        bottom: 1%;
        left: 30%;
      }
      &:nth-child(2){
        &::after{
          right: 22px;
        }
        bottom: 8.3%;
        left: 36%;
      }
      &:nth-child(3){
        &::after{
          bottom: 22px;
          right: 15px;
        }
        top: 32%;
        right: 43.8%;
      }
      &:last-child{
        &::after{
          right: 14px;
        }
        top: 31.5%;
        right: 35.8%;
      }
    }
  }
  .publics{
    span{
      &::after {
        background-image: url(../../assets/images/locations/parques.svg);
      }
      b{
        opacity: 0;
        background-color: #d2a8b9;
      }
      &:first-child{
        &::after{
          right: 15px;
        }
        bottom: 17%;
        left: 4%;
      }
      &:last-child{
        &::after{
          bottom: 22px;
          right: 10px;
        }
        bottom: 19%;
        right: 45%;
      }
    }
  }
}
/*----------------------------Units-Design-------------------------------*/
.units-design{
  background-color: $secondary;
  text-align: center;
  p.h2 {
    margin-bottom: 20px;
    font-weight: 600;
  }
  &_master {
    p{
      font-family: 'Kanit';
      color: $primary;
      font-weight: 300;
      transform: rotate(-90deg);
      margin-bottom: 0;
      width: 70px;
    }
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
      max-width: 910px;
      width: 100%;
    }
  }
  &_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 25px;
    margin-top: 45px;
    margin-bottom: 30px;
    &_chart{
      display: flex;
      align-items: center;
      margin-top: 2px;
      canvas#myChart {
        width: 110px!important;
        height: auto!important;
        margin-right: -25px;
      }
      img.porcentage{
        width: 80px;
        padding-right: 20px;
      }
      .titleFoo {
        line-height: 0.6;
        font-style: normal !important;
        color: $primary;
        span{
          font-size: 0.75rem;
        }
      }
    }
    &_text{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h5{
        font-family: 'Roboto';
        font-style: italic;
        color: $text;
        font-weight: 400;
      }
      &::before{
        content: '';
        position: absolute;
        left: -4%;
        height: 60px;
        width: 1px;
        background: #cecece;
      }
    }
  }
}
/*----------------------------Units-----------------------------------*/
.units{
  #nameLevel{
    color: $primary;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-content: center;
    img{
      width: 22px;
      height: auto;
    }
  }
  #nameLevel3{
    color: $primary;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-content: center;
    img{
      width: 22px;
      height: auto;
    }
  }
  .edf-select{
    opacity:0;
    cursor: pointer;
    &.active{
      opacity:1;
    }
    &:not(.active):hover{
      opacity: 1;
      .cls-6{
        fill: transparent;
        stroke: $primary ;
        stroke-width: 5px;
      }


    }
  }
  .edf-select3{
    opacity:0;
    cursor: pointer;
    &.active{
      opacity:1;
    }
    &:not(.active):hover{
      opacity: 1;
      .cls-6{
        fill: $lightpink;
        stroke: $primary ;
        stroke-width: 5px;
      }
      // .cls-7{
      //   stroke: $primary ;
      //   stroke-width: 5px;
      // }

    }
  }
  .col-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .project{
      max-width: 470px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .edfLevelUrl, .edfLevelUrl3{
    text-align: center;
    .edfImgLevel, .edfImgLevel3{
      max-width: 350px;
      width: 100%;
    }
  }
  &_download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    &_b{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .measures{
      width: 15px;
      margin-right: 10px;
    }
    .down {
      width: 15px;
      margin-right: 10px;
    }
    .zoom{
      width: 25px;
      margin-left: 20px;
      transform: translateY(-3px);
    }
    a, button{
      border: none;
      background-color: $white;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
    }
  }
  &_progress{
    border-bottom: 2px solid #cecece;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    margin-bottom: 70px;
  }
}
/*--------------------------------Modal---------------------*/
.modal {
  .modal-content {
    padding: 50px 70px;
    border-radius: 40px;
    .btn-close {
      color: #005170;
      border: none;
      position: absolute;
      right: 50px;
      top: 50px;
      z-index: 2;
    }
    .btn-close:hover, .btn-close:focus, .btn-close:active {
        color: #707070;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        box-shadow: none;
    }
    .modal-body{
      .swiper-slide{
        display: grid;
        grid-template-columns: 35% auto;
        column-gap: 35px;
        .col-left{
          p.h5, span.h4{
            margin-bottom: 13px;
            color: $primary;
            line-height: 1;
          }
          p.line{
            border-bottom: 1px solid #cecece;
            width: 100%;
            padding: 10px 0;
            margin-bottom: 0;
          }
          p.mt-3{
            font-size: 0.875rem;
          }
        }
        .col-right{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-end;
          column-gap: 70px;
          .img-right {
            width: 100%;
            max-width: 350px;
          }
          .compass {
            width: 22px;
            height: auto;
            margin-top: 30px;
          }
        }
      }
    }
    .swiper-button-white{
        &::after{
          font-size: 40px;
          color: #494846;
        }
      }
      .swiper-button-prev{
        left: 30px;
      }
      .swiper-button-next {
        right: 30px;
      }

  }
}
/*----------------------------Lanscape-Paisajismo-----------------------------------*/
.landscape{
  padding:0;
  &_banner{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url(../../assets/images/landscape/fondod.png);
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 48%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }
    p.h2 {
      margin-bottom: 15px;
      line-height: 0.6;
    }
    .col-left{
      padding-bottom: 80px;
      padding-top: 80px;
      z-index: 2;
    }
  }

  &_img{
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .img-time{
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .boton-time {
      padding-bottom: 20px;
      margin-left: 10px;
      z-index: 2;
      display: flex;
      align-items: center;
      p{
        color: $white;
        font-weight: 500;
        margin-right: 20px;
      }
      .bsol{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-right: 20px;
      }
      .bluna{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-left: 20px;
      }
      button{
        background-color: $white;
        padding: 10px 25px;
        border-style: none;
        .img-boton {
          width: 100%;
          max-width: 30px;
          path {
            fill: #8A5874;
          }
        }
        &.active{
          background-color: #976480;
          pointer-events: none;
          .img-boton {
            path {
              fill: #fff;
            }
          }
        }
      }

    }
  }
}
/*----------------------------Gallery-----------------------------------*/
#unitsGallery {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 68px;
  .gallery-thumbs {
    margin-top: 30px;
    .swiper-slide:hover {
      cursor: pointer;
    }
  }
  .gallery-top{
    .swiper-button-white{
      &::after{
        color: $white;
        font-size: 30px;
      }
    }
  }
}
/*----------------------------Gallery-----------------------------------*/
.amenities{
  padding-top: 0px;
  margin-top: 30px;
  &_banner{
    background-image: url(../../assets/images/amenities/fondod.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 75px;
    padding-bottom: 50px;
    &_img{
      position: relative;
      img{
        position: absolute;
        top: 0;
        max-width: 433px;
        width: 100%;
        left: 0px;
        right: 0px;
        transform: translateY(-75px);
        margin-left: auto;
        margin-right: auto;
      }
    }
    &_right{

    }
  }
  &_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 65px;
    margin-top: 36px;
    &_frame{
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        max-width: 85px;
        width: 100%;
        margin-bottom: 14px;
      }
      p{
        text-align: center;
      }
    }
  }
}
/*----------------------------Gallery-----------------------------------*/
.amenities-footer{
  padding-bottom: 0;
  padding-top: 20px;
  &_right{
    position: absolute;
    right: 0;
    bottom: -64px;
    z-index: -1;
    .imgA{
      max-width: 700px;
      width: 100%;
    }
  }
}
/*----------------------------Advance-----------------------------------*/
.advance{
  background-color: #F7F7F7;
  margin-top: 60px;
  padding-bottom: 45px;
  p.h1.text-center {
    margin-bottom: 40px;
  }
  &_line{
    img{
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &_icons-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    .item{
      text-align: center;
      img{
        width: 100%;
        height: 50px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 50px;
      }
      p{
        margin-top: 13px;
      }
    }
    .inic{
      width: 25%;
    }
    .finish{
      width: 22%;
      margin-left: auto;
    }
  }
}
/*---------------------------Gallery-------------------------------*/
#gallery{
  background-color: #F7F7F7;
  padding-bottom: 27px;
  padding-top: 0;
  #lightgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4px;
    a{
      overflow: hidden;
      position: relative;
    }
    a img {
      transition: all .5s ease;
      width: 100%;
    }
    a p {
      left: 15px;
      top: 15px;
      position: absolute;
      z-index: 2;
      color: $white;
      background: $primary;
      padding: 5px 24px;
      border-radius: 30px;
      box-shadow: 0 3px 6px #00000030;
      font-size: 0.7rem;
      font-weight: 700;
    }
     a:hover img {
      transform: scale(1.07);
    }
  }
  .swiper-pagination.d-block.d-md-none.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 2px;
  }
}
/*----------------------------Project-------------------------------*/
.project{
  text-align: center;
  p.text-center.w-75 {
    margin-left: auto;
    margin-right: auto;
  }
  &_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 52px;
    margin-top: 37px;
    p {
      margin-right: 10px;
    }
    img {
      height: 22px;
    }
  }
  &_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    p {
      margin: 0;
    }
    span{
      color: $primary;
    }
  }
}
/*----------------------------Conatct-------------------------------*/
.contact {
  background-color: $lightpink;
  padding: 80px 0;
    p.h3{
      margin-bottom: 22px;
    }
    form#contactForm {
      margin-bottom: 15px;
      width: 90%;
      .form-floating {
        margin-bottom: 12px;
        .form-control{
          border: 2px solid $primary;
        }
      }
    }
    &_form2{
      display: flex;
      flex-direction: column;
      a{
        text-decoration: none;
      }
      a img {
        width: 100%;
        max-width: 35px;
        margin-right: 18px;
      }
      .whatsapp {
        font-size: 20px;
        display: flex;
        flex-direction: initial;
        align-items: center;
        margin-bottom: 20px;
        color: $primary;
      }
    }
    #formSending p.strong {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      span{
        background: $primary;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        margin: 0 3px;
        animation: sending 1s infinite;
      }
      span:first-child {
        margin-left: 6px;
      }
      span:nth-child(2) {
        animation-delay: 200ms;
      }
      span:last-child {
        animation-delay: 300ms;
      }
    }
  }
  @keyframes sending {
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 1
  }
}
