.footer {
  background-color: #F7F7F7;
  padding: 50px 0;
  &_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 130px;
    margin-bottom: 45px;
    &_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 150px;
      width: 100%;
      max-height: 50px;
      height: 100%;
    }
  }
  &_privacyText {
    text-align: center;
    p{
      font-size: 0.8rem;
    }
  }
}
/*----------------------------Queries-------------------------------*/
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .footer {
    &_logo {
      flex-direction: column;
      justify-content: center;
      row-gap: 38px;
      p{
        font-size: 0.875rem;
        margin-bottom: 10px;
      }
      img {
        width: calc(100% - 10px);
      }
    }
  }
}
