header{
  background-color: $white;
  border-bottom: 7px solid $primary;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  box-shadow: 0px 5px 19px rgb(0 0 0 / 29%);
  img {
    max-width: 160px;
    width: 100%;
  }
  .header{
    &_mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span{
        width: 24px;
        height: 2px;
        margin: 3px 0;
        background: $primary;
        border-radius: 2px;
      }
    }
  }
  .navbar{
    .navbar-nav .nav-link{
      color: $text;
    }
  }
}
/*----------------------------Queries-------------------------------*/

@media (min-width: 992px) {
  header{
    .navbar .navbar-nav .nav-item{
      margin: 0 8px;
    }
  }
}

@media (max-width: 991.98px) {
    header{
    img {
      max-width: 100px;
    }
    .navbar{
      &-toggler{
        color: $white !important;
        border-color: $white !important;
      }
      &-collapse {
        background-color: white;
        margin: 0;
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
      }
      .nav-item{
        border-bottom: 1px solid #b7b1a5;
        width: 100%;
        padding: 0 30px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  header{
    .navbar{
      .nav-item{
        padding: 0;
        .nav-link{
          max-width: 540px;
          margin: 0 auto;
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {}
