:root{
  font-size: 16px;
}

body{
  opacity: 0;
}
p.h2, h2, .h2{
  font-weight: 700;
}
p.h3, h3 .h3{
  font-weight: 300;
}
p.h1, h1, p.h2, h2, p.h3, h3{
  font-family: Kanit;
  color: $primary;
}

p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Kanit;
  color: $text;
}

a,p,div,input,button,textarea{
  font-family: Roboto;
  color: $text;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 52px 0;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  border-radius: 36px;
  padding: 10px 40px;
  color: $white;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: $btn-hover!important;
  border-color: $btn-hover!important;
  box-shadow: none!important;
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
