/*-----------------------------About-Us----------------------------*/
.aboutUs {
  padding-top:69px;
  margin-top: 0;
  padding-bottom:0;
  img.logo {
    width: 100%;
    max-width: 270px;
  }
  .seeMore{
    margin: 40px 0;
  }
  &_twoImages{
    background-image: url(../../assets/images/about-us/continents-nosotros.jpg);
    height: 430px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #continents{
    margin-top: 50px;
    padding-bottom: 0;
  }
  .col-12.col-lg-4 {
    text-align: center;
  }
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 991.98px) {
  .aboutUs {
    img.logo {
      margin-bottom: 45px
    }
    .seeMore{
      text-align: center;
    }
  }
}
