<div class="footer">
 <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="footer_logo">
        <div class="footer_logo_item">
          <p>DESARROLLA</p>
          <img src="assets/icons/logo-continents.svg">
        </div>
        <div class="footer_logo_item">
          <p>PROYECTA</p>
          <img src="assets/icons/logo-molakunst.svg">
        </div>
        <div class="footer_logo_item">
          <p>PAISAJISMO</p>
          <img src="assets/icons/logo-musacco.svg">
        </div>
      </div>
      <div class="footer_privacyText">
        <p>Todas las imágenes digitales contenidas en este material son de carácter orientativo. Las medidas definitivas surgirán de la versión final real. La empresa podrá realizar variantes de orden estético o utilitario, sin notificación previa, tanto en bienes comunes como en propios, sin ir en detrimento del diseño ni de la calidad y siempre dentro de lo admitido por la reglamentación vigente. El mobiliario es de carácter ilustrativo, no forma parte de las unidades.</p>
      </div>
    </div>
  </div>
</div>
</div>
