<div class="container header">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="assets/icons/logo-osaka.svg" alt="Austin"></a>
            <button class="navbar-toggler header_mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span></span><span></span><span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Proyecto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ubicación</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Unidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Comodidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Avance de obra</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link about" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div id="whatsappBtn">
      <a href="#" target="_blank" onclick="gtag('event', 'click', {
            'event_category': 'Contactar por whatsapp',
            'event_label': 'Contactar por whatsapp',
            'value': 1
          });">
        <button>
          <img src="assets/icons/whatsapp.png" alt="wpp" />
        </button>
        <span>Escribinos</span>
      </a>
    </div>
