$primary: #976480;
/*rosa oscuro*/
$secondary: #EBDCE5;
/*rosa claro*/
$lightpink:#EBDCE5;
$text: #494846;

// $text-secondary: #425762;
// $text-hover: #191920;
// $btn: #a3a3a3;
$btn-hover: #E2BDD9;

$white: #fff;
$black: #000;

// $lightestgrey: #F5F5F5;
// $lightergrey: #D3D4D3;
$lightgrey: #B7B1A5;
// $darkgrey: #86888C;
// $darkergrey: #50535A;
// $darkestgrey: #313235;
